$color-primary:#55c57a;
$color-primary-lite:#7ed56fd0;
$color-primary-dark:#28b485c9;
$color-gray-dark-2:#999;
$color-gray-dark-3:#333;
$color-gray-dark:#777;
$color-white:#ffffff;
$color-black:#000000;
$color-grid:#eeeeee;
$color-gray-light-1:#f7f7f7;
$color-gray-light-2:#b6b2b2;
$color-secondary-light:#ffb900;
$color-secondary-Dark:#ff7730;
$color-Tertiary-light:#2998ff;
$color-Tertiary-Dark:#5643fa;
$color-primary-lite-1:#6add55;
$color-primary-dark-1:#28b485;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
// font
$defult-font-size:1.6rem;